<footer class="page-footer">
  <div class="container">
    <div class="footer-widget">
      <h3>Our Links</h3>
      <hr>
      <ul>
        <li><a href="#">Home </a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-widget">
        <h3>Our Address</h3>
        <hr>
<p><span class="location"><img src="assets/images/location-icon.png"/></span>1401 Lavaca St. #503, Austin, 
  TX 78701</p>
  <p><span class="location"><img src="assets/images/phone-icon.png"/></span> +91 1234 56 7890</p>
      </div>
      <div class="footer-widget">
          <h3>Follow Us</h3>
          <hr>
          <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>© 2017-2018. All Rights Reserved.</p>
    </div>
  </div>
</footer>