<section id="banner">
  <div class="container">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <figcaption class="caption">
          <h6>Hello I am</h6>
          <h1>Bhupinder</h1>
          <p>Ui/UX Designer. Expert in HTML, CSS, Bootstrap, Adobe Photoshop, Adobe Dreamweaver, SASS, Jquery,
            Javascript, Angular UI, Angular Material UI, Wordpress</p>
        </figcaption>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="banner-right-img float-right">
          <img src="/assets/images/banner-women.png" />
        </div>
      </mat-grid-tile>
    </mat-grid-list>


  </div>
</section>